.ggmoney-main{
    width:700px;
    height:100%;
    border:1px solid red;
    padding:10px;
}
.money-add-person{
  
    position:relative;
 
    border:1px solid blue;
}
.right-btn{
    
    position: absolute;
   margin:10px;
    right:10px;
}