
.btn1{
    margin-bottom:5px;
    width:100%;
}
.login-form .login-input{
    width:100%;


}
.status{
    font-size:2vh;
    text-align: center;
}
.home-title{
    text-align: center;
     color:#fff;
     
    background-color: #ff75a0;
}
.error-msg{
    color:red;
    float:left;
    
}
#login-panel{
    margin-top:40%;
    border:1px solid rgb(129, 129, 129);
    
    padding:20px;
    

}
.msg{
    font-size:2vw;
    text-align:left;
}
.forget{
    color:#1a508b; cursor:pointer;
}
.show-feature{
    padding:20%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .home-title{
        font-size:3vh;
    }
    #login-panel{
        width:100%;
      
    }
    .newAccount{
        font-size:1.5vh;
    }
    .btn1{
        font-size: 1.5vh;
    }
    .forget{
        font-size:1.3vh;
    }
    .show-feature{
        display: none;
    }
  .list-box{
   margin:20px 0px;
   width:100%;
   border:1px solid #dddddd;
   padding:20px;
   background-color: white;
}
    .input-box{
        width:85%;
        height:initial;
        display: inline-block;
    }
    .add-btn{
        font-size:initial;
        height:initial;
    }
    .main{
        display:initial;
       
       
     }
}