
.btn1{
    margin:10px 0;
    width:200px;
}
.login-form .login-input{
    width:200px;


}
.status{
    font-size:2vh;
    text-align: center;
}
.home-title{
    text-align: center;
   
    background-color: #ff75a0;
}

@media only screen and (max-width: 600px) {
    .home-title{
        font-size:3vh;
    }
}